<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.app_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    var sherlock_firstbyte = Number(new Date());
    var googleMapsUrl = '//maps.googleapis.com/maps/api/js?language=ja&sensor=false&v=3&libraries=places&client=gme-airbnbinc&channel=monorail-prod';
    var userAttributeCookies = {
      flags_name: 'flags',
      roles_name: 'roles',
      flags: {"can_see_community":2,"og_publish":16,"has_wishlisted":32,"update_cached":64,"revert_to_admin":128,"facebook_connected":256,"meow":512,"has_search":1024,"search_help_dropdown":2048,"has_dates":4096,"show_fb_prompt":8192,"lightweight_wishlist":16384,"can_send_profile_messages":32768,"just_logged_in":65536,"has_been_host":131072,"should_drop_pellet":262144,"custom_faq_links":524288,"is_active_host":1048576,"should_drop_pellet_for_corgi":2097152,"nyan":4194304,"fb_clickthrough_banner":8388608,"fb_clickthrough_banner_sticky":16777216,"fb_clickthrough_modal_sticky":33554432,"fb_clickthrough_modal_activity":67108864,"can_see_meetups":134217728,"should_drop_sift_pellet":268435456,"can_see_groups":536870912},
      roles: {"is_admin":1,"is_aircrew":8,"is_content_manager":1048576,"is_stats_admin":16777216}
    };
  </script>
</head>

<body>

  <%# グローバルメニュー %>
  <ul class="nav nav-tabs navbar-fixed-top backcolor_white padding_top10">
    <li class="navbar offset2 active"><%= link_to Settings.app_name, :root, class: "brand" %></li>
    <% unless session[:user_id].blank? %>
      <%# ログイン済み %>
      <li><%= render partial: '/layouts/user_icon', locals: { user: current_user } %></li>
      <li class="<%= params[:controller] == 'top' ? 'active' : '' %>"><%= link_to( "Top", root_path ) %></li>
      <li><%= link_to( "Logout", logout_path ) %></li>
    <% else %>
      <%# 未ログイン %>
      <li><%= link_to "Login", "/auth/#{Settings.provider}" %></li>
    <% end %>
  </ul>

  <div class="container">

  <div class="margin_top50"><div>

  <%# 通知／エラーメッセージ %>
  <%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
  <%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>

  <%= yield %>

  <br />
  <br />

<!--
  <center>
    Developed by <a href="https://twitter.com/<%= Settings.programmer_twitter_id %>/" target="_blank">@<%= Settings.programmer_twitter_id %></a>,
    Designed by <a href="https://twitter.com/<%= Settings.designer_twitter_id %>/" target="_blank">@<%= Settings.designer_twitter_id %></a>,
    Licence by <a href="https://creativecommons.org/licenses/by-nc-sa/2.1/jp/" target="_blank">CC BY-NC-SA 2.1</a>
  </center>
-->

　<div id="user_nav">
　　<%= link_to "Twitterでlogin","/auth/twitter" %>
　　<%= link_to "facebookでlogin", "/auth/facebook" %>
　</div>
　<%= yield %>

  <br />

  </div>

  <div class="input-wrapper">
    <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="どちらにお出かけですか？" />
    <p id="enter_location_error_message" class="bad" style="display:none;">
      行き先を設定
    </p>
  </div>

</body>
</html>
